/*universal select*/
*{
    color: tomato;
}
/*element select*/
/*foreground*/
h1{
    color: blueviolet;
}
/*background*/
body{
    background-color: gray;
}
/*later codes takes the priorities*/
p{
    color: blue;
}
button{
    color: burlywood;
}
/*id select*/
#one{/*starts with #*/
    color: cornflowerblue;
}
#two{
    color: teal;
}
#three{
    color: crimson;
}
/*class select*/
.four{/*starts with .*/
    color: cyan;
}